

.filters-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
  background-color: #f4f6f9;

&-item {
  padding-right: 1.5rem;
}
}

.search {
  width: 100%;
  max-width: 400px;
}

.checkbox-section {
  padding-bottom: 1.3em;
}

.checkbox {
  margin: 0 12px;
  font-weight: bold;
}
